* {
  font-family: sans-serif, "Times New Roman", Times, serif;
}
:root {
  --sidebar-width: 260px;
  --header-height: 65px;
  --sidebar-width: 260px;
  --header-height: 65px;
}
@media (max-width: 1024px) {
  :root {
    --sidebar-width: 80px;
  }

  .logo p,
  .redirectATag span {
    display: none;
  }
}
@media (max-width: 768px) {
  :root {
    --sidebar-width: 0px;
  }
}
